<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checksum</key>
	<string></string>
	<key>lastpublish</key>
	<string></string>
	<key>YRO</key>
	<dict>
		<key>top</key>
		<dict>
			<key>new</key>
			<string>4</string>
			<key>total</key>
			<string>10</string>
			<key>checked</key>
			<false/>
		</dict>
		<key>hotel</key>
		<dict>
			<key>new</key>
			<integer>0</integer>
			<key>total</key>
			<string></string>
			<key>checked</key>
			<false/>
		</dict>
		<key>chain</key>
		<dict>
			<key>new</key>
			<integer>0</integer>
			<key>total</key>
			<string>5</string>
			<key>checked</key>
			<false/>
		</dict>
		<key>district</key>
		<dict>
			<key>new</key>
			<integer>2</integer>
			<key>total</key>
			<string>30</string>
			<key>checked</key>
			<false/>
		</dict>
		<key>apparel</key>
		<dict>
			<key>new</key>
			<integer>10</integer>
			<key>total</key>
			<string>26</string>
			<key>checked</key>
			<false/>
		</dict>
		<key>beauty</key>
		<dict>
			<key>new</key>
			<integer>0</integer>
			<key>total</key>
			<string>0</string>
			<key>checked</key>
			<false/>
		</dict>
		<key>jewellery</key>
		<dict>
			<key>new</key>
			<integer>0</integer>
			<key>total</key>
			<string>0</string>
			<key>checked</key>
			<false/>
		</dict>
		<key>lifestyle</key>
		<dict>
			<key>new</key>
			<integer>5</integer>
			<key>total</key>
			<string>20</string>
			<key>checked</key>
			<false/>
		</dict>
		<key>checked</key>
		<false/>
	</dict>
	<key>QS</key>
	<dict>
		<key>new</key>
		<string>5</string>
		<key>total</key>
		<string>100</string>
		<key>checked</key>
		<false/>
	</dict>
	<key>LP</key>
	<dict>
		<key>new</key>
		<string>0</string>
		<key>total</key>
		<string>20</string>
		<key>checked</key>
		<false/>
	</dict>
	<key>SP</key>
	<dict>
		<key>new</key>
		<string>30</string>
		<key>total</key>
		<string>50</string>
		<key>checked</key>
		<false/>
	</dict>
	<key>PB</key>
	<dict>
		<key>new</key>
		<string>0</string>
		<key>total</key>
		<string>20</string>
		<key>checked</key>
		<false/>
	</dict>
	<key>GP</key>
	<dict>
		<key>new</key>
		<string>15</string>
		<key>total</key>
		<string>100</string>
		<key>checked</key>
		<false/>
	</dict>
</dict>
</plist>
