<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>2.0</string>
	<key>16</key>
	<array>
		<string>140</string>
		<string>141</string>
		<string>142</string>
		<string>143</string>
		<string>144</string>
		<string>145</string>
		<string>146</string>
	</array>
	<key>17</key>
	<array>
		<string>150</string>
		<string>151</string>
		<string>152</string>
		<string>153</string>
		<string>154</string>
	</array>
	<key>7</key>
	<array>
		<string>20</string>
		<string>21</string>
		<string>22</string>
		<string>24</string>
		<string>40</string>
	</array>
	<key>6</key>
	<array>
		<string>20</string>
		<string>21</string>
		<string>22</string>
		<string>24</string>
		<string>30</string>
	</array>
	<key>1</key>
	<array>
		<string>1001</string>
		<string>1101</string>
		<string>1201</string>
		<string>1301</string>
		<string>1401</string>
		<string>1501</string>
		<string>1601</string>
	</array>
	<key>2</key>
	<array>
		<string>1003</string>
		<string>1103</string>
		<string>1203</string>
		<string>1303</string>
		<string>1403</string>
		<string>1503</string>
		<string>1603</string>
		<string>1703</string>
	</array>
	<key>20</key>
	<array>
		<string>156</string>
		<string>157</string>
		<string>158</string>
		<string>159</string>
		<string>160</string>
		<string>161</string>
		<string>162</string>
		<string>163</string>
		<string>171</string>
	</array>
	<key>21</key>
	<array>
		<string>164</string>
		<string>165</string>
		<string>166</string>
		<string>167</string>
		<string>168</string>
		<string>169</string>
		<string>170</string>
		<string>172</string>
	</array>
	<key>22</key>
	<array>
		<string>173</string>
		<string>174</string>
		<string>175</string>
		<string>176</string>
	</array>
</dict>
</plist>
